body{
  background-color: #0e285e;
  background-size: cover;
}

nav{
  background: linear-gradient(90deg, #061D42 0%, #19398A 49.83%, #5191CD 100%);
  color: #eee;
}

nav .navbar-toggler-icon{

}

nav li a{
  color: #eee;
  text-decoration: none;
  font-weight: 450;
  font-size: 15px;
}

nav li a:hover{
  text-decoration: none;
  color: #ccc;
}

nav li .twitch-icon{
  margin: 0 10px 0 20px;
}

.main-container{
  /* background: url("https://www.iplt20.com/resourses/ver/i/element-bgs/footer-bg-left.png"); */
  /* background: url("https://image.freepik.com/free-vector/abstract-design-background_1048-6726.jpg"); */
  /* background-color: #0e285e;
  background-size: cover; */
}

.top-row{
  font-size: 12px;
}

.top-row-hr{
  background-color: #cccccc50;
  height: 1px;
  border: 50%;
}

.match-link{
  color: #eee;
  font-size: 18px;
  font-weight: bold;
}
.match-link:hover{
  text-decoration: none;
  color: #eee;
}
.align-right{
  text-align: right;
}
.align-left{
  text-align: right;
}
.team-name-link{
  font-size: 17px;
  font-weight: 450;
  color: #eee;
}
.score{
  font-size: 50px;
  font-family: verdana;
  font-weight: 450;
  color: #eee;
}
.run-rate, .overs{
  font-size: 14px;
  color: #eee;
}

.score-button{

}
